@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("../fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf");
}

html, body {
  margin: 0;
  background: black;
  overflow: hidden;
  height: 100%;
  color: white;
}

main {
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: auto;
}

@-webkit-keyframes fadein_ticker {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein_ticker {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#top-block, #bottom-block {
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: fadein_ticker;
          animation-name: fadein_ticker;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#top-block {
  margin-top: 0.5rem;
}

#bottom-block {
  margin-bottom: 0.2rem;
}

.block {
  z-index: 1;
}

.ticker {
  font-size: 1.1rem;
  font-family: "MonumentExtended-Regular";
  white-space: nowrap;
}

.ticker__copy {
  padding-right: 0.6rem;
}

.ticker__copy span {
  padding-right: 0.6rem;
}

#cover {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#logo-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes popout_logo {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popout_logo {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#logo {
  width: 60%;
  height: 60%;
  -webkit-animation-name: popout_logo;
          animation-name: popout_logo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#logo:hover {
  width: 65%;
  height: 65%;
}

@-webkit-keyframes popout_links {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: block;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popout_links {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: block;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#links {
  text-decoration: none;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-name: popout_links;
          animation-name: popout_links;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.fab {
  font-size: 2em;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 0 0 11px rgba(0, 0, 0, 0.72);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fab:hover {
  font-size: 2.6rem;
}

@-webkit-keyframes fadein_background {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein_background {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#background {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: inset 0px 40px 50px -30px #000000;
          box-shadow: inset 0px 40px 50px -30px #000000;
  -webkit-animation-name: fadein_background;
          animation-name: fadein_background;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media all and (max-width: 500px) {
  #logo {
    width: 90%;
    height: 90%;
  }
  #logo:hover {
    width: 95%;
    height: 95%;
  }
}
/*# sourceMappingURL=main.css.map */